:root {
  --color-deep-level-1-rose-taupe: #7C606B;
  --color-deep-level-2-rose-taupe: #C46BAE;
  --color-deep-level-3-sky-magenta: #EB7BC0;
  --color-deep-level-4-persian-pink: #EDA4BD;
  --color-deep-level-5-amaranth-pink: #EED5C2;
  --color-deep-level-6-champagne-pink: #FADADD;
  --color-white: #FFFFFF;

  --bottom-audio-opacity: 0.8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-deep-level-1-rose-taupe: #C46BAE;
    --color-deep-level-2-rose-taupe: #EB7BC0;
    --color-deep-level-3-sky-magenta: #EDA4BD;
    --color-deep-level-4-persian-pink: #EED5C2;
    --color-deep-level-5-amaranth-pink: #EED5C2;
    --color-deep-level-6-champagne-pink: #7C606B;
    --color-white: #2c2125;

    --bottom-audio-opacity: 0.3; 
  }
}

html, body {
  font-family: 'Merriweather', serif;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* 禁止外层滚动 */
}